<div>
<img src="" alt="" srcset="">

<p>Crie sua conta</p>

<form (ngSubmit)="onSubmit()">
  <input type="text" class="form-control" placeholder="Nome">
  <input type="email" class="form-control" placeholder="Email">
  <div class="input-box">
    <input type="password" class="form-control" placeholder="Senhass">
  </div>
  <input type="password" class="form-control" placeholder="Confirmar Senha">

  <div class="buttons">
    <button type="button" class="btn-cancel">Cancelar</button>

    <button type="submit" class="btn-confirma">Confirmar</button>
  </div>
</form></div>
